/* Estrutura do site
------------------------------------ */

body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link,
a:active,
a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}


/* Logo 
------------------------------------ */

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}


/* Barra de navegação 
------------------------------------ */

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}


/* Formataçao do conteudo Principal ----------------------*/

#conteudos {
    width: 710px;
    float: left;
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}


/*Visitas*/

section#visitas {
    background: #f5cf99;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

section#galeria {
    padding: 0 27px 0 27px;
}

section#galeria a {
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0px 0px 20px;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 3px;
}

article#video {
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#mapa {
    float: left;
    width: 310px;
    margin-left: 37px;
}

article#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}

article#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    color: #435743;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    color: #535858;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}


/* Formatação dos Formularios -------*/

input {
    height: 20px;
    background: #f4f2ec;
    border: none;
}

input.campo {
    border: 1px groove #227115;
    width: 80px;
}

input.botao {
    background: rgb(241, 166, 3);
    color: rgb(240, 197, 4);
    width: 100%;
    height: 40px;
    font-size: 15px;
    text-decoration: uppercase;
}

fieldset {
    border: none;
}

legend {
    display: none;
}


/*----Rodape---*/

footer {
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../img/fundo-rodape.png) no-repeat center top;
    margin-top: 25px;
}

footer>p a {
    text-transform: uppercase;
    margin: 3px;
}